@font-face {
	font-family: Optima LT Std Demi;
	font-display: swap;
	src: url("../fonts/Optima LT Std Demi.woff2") format("woff2"), url("../fonts/Optima LT Std Demi.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Optima LT Std Italic;
	font-display: swap;
	src: url("../fonts/Optima LT Std Italic.woff2") format("woff2"), url("../fonts/Optima LT Std Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Optima LT Std Roman;
	font-display: swap;
	src: url("../fonts/Optima LT Std Roman.woff2") format("woff2"), url("../fonts/Optima LT Std Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
