.artists{
    &__wrapper{
        padding: 55px 100px;
        @include mobile {
            padding: 55px 20px;
        }
    }
    &__title{
        margin-bottom: 32px;
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--black);
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item{
        display: flex;
        align-items: center;
        padding-right: 15px;
        @include tablet {
            margin-bottom: 20px;
        }
    }

    &__item-img{
        margin-right: 24px;
    }

    &__item-name{
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--black);
    }

    &__item-info{
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        color: var(--grey);
    }
}