.header__nav {
	
}
.nav {
	display: flex;
	column-gap: 25px;
	align-items: center;
	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		align-items: end;
	}

	&__list{
		display: flex;
		column-gap: 25px;

		@include tablet {
			display: none;
		}
	}

	&__item{
		a{
			font-family: var(--font-accent);
			font-weight: 400;
			font-size: 14px;
			line-height: 200%;
			letter-spacing: 0.06em;
			text-transform: uppercase;
			color: var(--black);
			
			@include tablet {
				font-size: 18px;
			}
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__btn{
		position: relative;
		display: flex;
		align-items: center;
		width: 24px;
		height: 25px;
		transition: all 0.3s ease-in;
		overflow: hidden;
		@media (max-width: 500px) {
			order: 1;
		}
	}

	&__btn-search{
		background: #ffffff;
		cursor: pointer;
		z-index: 10;
	}

	&__link{
		cursor: pointer;
	}
	
}
.search-active{
	width: 250px;
	box-shadow: 0 0 0 2px #a7a7a7;
	border-radius: 60px;
	@include mobile {
		width: 150px;
	}
}

.input__search{
	@include mobile {
		width: 90px;
	}
	&::placeholder{
		font-size: 14px;
		font-family: var(--font-accent);
		font-weight: 400;
	}
}

.nav__btn-clear{
	position: absolute;
	top: 50%;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	
}
.nav__btn-clear::before{
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #a7a7a7;
	transform: rotate(45deg);
}
.nav__btn-clear::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #a7a7a7;
	transform: rotate(-45deg);
}