.body-bg{
    background-image: url(../img/room/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.room{
    &__link{
        display: inline-block;
        margin: 20px;
    }

    &__wraper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img{
        margin: 30px 0 80px;
        -webkit-box-shadow: 0px 24px 74px 5px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0px 24px 74px 5px rgba(0, 0, 0, 0.23);
        box-shadow: 0px 24px 74px 5px rgba(0, 0, 0, 0.23);
    }
    &__width{
        margin-bottom: 10px;
        font-family: var(--font-accent);
        font-weight: 400;
        font-size: 24px;
        line-height: 117%;
        text-transform: lowercase;
        color: rgba(101, 99, 95, 0.6);
    }
    &__line-img{
        padding: 0 15px;
    }
}


